<div>

  <p-autoComplete 
    [(ngModel)]="selectedItem" 
    [suggestions]="filteredProducts" 
    (completeMethod)="search($event)" 
    [inputStyle]="{
        borderTopRightRadius: '0px',
        borderBottomRightRadius: '0px',
        width: '320px'
    }" 
    placeholder="Pesquise por produtos ou categorias"
    field="product"
    (onSelect)="selectProduct($event)"
  >

    <ng-template let-product pTemplate="item" >
      <div class="flex align-items-center gap-2" >
          <img src="assets/{{ product.img_url}}" style="width: 18px"/>
          <div>{{ product.name }}</div>
      </div>
    </ng-template>
  </p-autoComplete>


  <p-button 
    label="" 
    [style]="{
      borderTopLeftRadius: '0px',
      borderBottomLeftRadius: '0px'
    }"
  >
    <i class="pi pi-search" style="font-size: 1.2rem"></i>
  </p-button>
</div>
