<div class=" flex justify-content-left mt-2">
  <p-breadcrumb class="max-w-full breadcrumb-container text-sm" [model]="items" [home]="home"></p-breadcrumb>
</div>

<div class="w-full flex xl:flex-row lg:flex-column md:flex-column sm:flex-column h-full ">
  <div class="xl:col-6 lg:flex-row md:col-12 flex-column ">
    <h3>Carrinho ({{ products.getValue().length }})</h3>
    <div *ngFor="let product of products.getValue()" class="flex flex-column gap-2">
      <app-item [product]="product" [handleDeleteItem]="handleDeleteItem"
        (changeQuantityProduct)="handleUpdateQuantityProduct($event)"></app-item>
      <p-divider></p-divider>
    </div>

  </div>
  <div class="col p-0 xl:block lg:hidden sm:hidden">
    <p-divider class="p-0" layout="vertical"></p-divider>
  </div>
  <div class="xl:col-5 lg:col-12 flex justify-content-center">
    <div class="w-11 flex flex-column gap-2">
      <h3>Resultado do pedido</h3>
      <div class="flex flex-column justify-content-center flex-wrap">
        <div class="flex justify-content-between ">
          <span>Subtotal</span>
          <span>{{ total | currency : 'BRL'}}</span>
        </div>

        <div class="flex justify-content-between">
          <span>Desconto</span>
          <span>{{ desconto || 0 | currency : 'BRL'}}</span>
        </div>
      </div>

      <div>
        <div class="flex justify-content-between align-items-center">
          <h3 class="font-bold text-2xl md:text-xl">Total</h3>
          <span class="font-bold text-2xl md:text-xl">{{ (total- (+desconto )) | currency : 'BRL'}}</span>
        </div>
      </div>

      <div class="card flex flex-column justify-content-center align-items-center gap-5 w-12 ">
        <p-dropdown autoWidth="false" [options]="optionsDelivery" [(ngModel)]="selectDelivery" optionLabel="name"
          [showClear]="true" [formControl]="methodDelivery" placeholder="Selecione como deseja receber"></p-dropdown>


        <a *ngIf="showSettingAddress" (click)="showDialog()">
          {{ address?.id ? 'Ver endereço' : 'Configurar endereço' }}
        </a>


        <p-dialog header="Endereço" [(visible)]="visible" [modal]="true" [style]="{ width: '70vw' }" [draggable]="false"
          [resizable]="false">

          <div *ngIf="showDialogAddAddress">
            <app-add-address (addressEvent)="handleSetAddress($event)"></app-add-address>
          </div>
          <div *ngIf="address?.id">
            <app-manager-address [address]="address"></app-manager-address>
          </div>
        </p-dialog>
      </div>


      <div class="card flex justify-content-center w-12 ">
        <p-toast></p-toast>
        <p-confirmPopup></p-confirmPopup>
        <button [disabled]="!btnFinished" [classList]="['w-12']" pButton pRipple label="Finalizar compra"
          class="p-button-success" (click)="handleFinishRequest()"></button>
      </div>
    </div>

  </div>
</div>
