label {
    font-size: 1rem;
    font-weight: bold;
}
span {
    font-size: .8rem;
    font-weight: 500;
}
div#txt-align {
    text-align: left;
}
i {
    color: #205BC6;
}
div.container {
    cursor: pointer;
}