<div class="w-full flex align-items-center justify-content-center">
  <div class="flex align-items-center justify-content-center flex-column gap-4 mt-8">
    <div class="flex flex-column text-center gap-2">
        <p-avatar styleClass="mr-2" size="xlarge">{{ userLabel }}</p-avatar>
        <span>Imagem de perfil</span>
    </div>

    <div class="flex flex-column gap-2">
      <label htmlFor="username">Nome completo</label>
      <input pInputText id="username" aria-describedby="username-help" readonly value="{{user.full_name}}" />
    </div>

    <div class="flex flex-column gap-2">
      <label htmlFor="cpf">CPF</label>
      <input pInputText id="cpf" readonly value="{{user.cpf}}" />
    </div>

    <div class="flex flex-column gap-2">
      <label htmlFor="phone">Telefone</label>
      <input pInputText id="phone" readonly value="{{user.phone_number}}" />
    </div>
  </div>
</div>
