<div class="card" *ngIf="categories.length">
  <p-carousel [value]="categories" [numVisible]="6" [numScroll]="3" [circular]="false"
    [responsiveOptions]="responsiveOptions" [showIndicators]="true">

    <ng-template let-product pTemplate="item" >
      <div style="background-color: #F0EEEE !important;cursor: pointer;" 
      class="hover:surface-700 border-1 surface-border border-round m-2 text-center py-5 px-3 h-12rem">
        <div class="">
          <img src="assets/category/{{ product.name }}.png" [alt]="product.name" class="w-6" />
        </div>
        <div>
          <h4 class="mb-1 text-black-alpha-90">{{ product.name }}</h4>
        </div>
      </div>
    </ng-template>
  </p-carousel>
</div>
