<header>
  <div class="grid align-items-center">
    <div class="col">
      <div class="text-center p-3 border-round-sm  font-bold">
        <div class="flex flex-row flex-wrap gap-7">
          <div [routerLink]="['/']" class="cursor-pointer">
            <img src="https://primefaces.org/cdn/primeng/images/primeng.svg" height="40" />
          </div>

          <app-input-search></app-input-search>
        </div>
      </div>
    </div>

    <div class="col-5">
      <div class="text-center flex flex-row flex-wrap gap-4 w-full">
        <app-user-info-header></app-user-info-header>
        <app-user-requests-header></app-user-requests-header>
        <app-shopping-cart-header></app-shopping-cart-header> 
      </div>
    </div>
  </div>
</header>
