<footer class="w-full flex flex-wrap align-items-center justify-content-center h-12rem">
    <div class="w-11 flex flex-wrap align-items-center justify-content-between">
        <a href="">
            <app-logo></app-logo>
        </a>
        <div class="flex flex-column gap-3 text-align-left">
            <label for="">
                <a href="">
                    FAQ
                </a>
            </label>
            <label for="">
                <a href="">Termos e condições</a>
            </label>
        </div>
        <div class="flex flex-column gap-3 text-align-left">
            <label for="">
                <a href="">
                    Trabalhe conosco
                </a>
            </label>
            <label for="">
                <a href="">Fale conosco</a>
            </label>
        </div>
    </div>
</footer>
